<div class=center>
    <date-component></date-component>
    <h2>Uploading images using image URL-address</h2>
<input name='title' [(ngModel)]='url' placeholder='Enter image URL-address'/>
<button class="btnAddImage" (click)='addPicture()'> Add picture </button>

        <div class="selectedPicture3">
                <img [src]="SelectedPicture3"  alt="img" width='750px' height='480px'/>
        </div>
        <div class ="galleryGridBlock3">
            <div class="item" *ngFor='let pic of pictures'>
                <div class="polaroid" >
                    <img [src] = [(pic.url)]/>
                    <p>From: {{pic.date | date:'HH:mm:ss dd-MM-yyyy EEEE'}}</p>
                </div>
            </div>
        </div>

</div>
