<h3 class="">#3 Create a main component containing a gallery and a large image so that when you click on the gallery you will see the image you clicked on. Use output.</h3>

<div class="selectedPicture">
    <img [src]="SelectedPicture" alt="image">
</div>
<div class="galleryGridBlock">
    <img src="https://wallpaperbro.com/img/559826.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/291591.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/559835.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/389451.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/357788.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/61596.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/575477.jpg" alt="img">
    <img src="https://wallpaperbro.com/img/575562.jpg" alt="img">
</div>

