<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>{{ title }}</h1>
    <p>Upgrade the code given in the lesson. The number can be increased only to 21, and reduced only to -9 (step equal to 1). Add a "RESET" button that will reset the counter.</p>
</div>
<div class="container">
  <div class=gridRow>
      <decrement-component></decrement-component>
      <counter-component></counter-component>
      <increment-component></increment-component>
  </div>
<reset-component></reset-component>
</div>
