body{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

// p {
//   width: 60%;
//   margin: 15px auto;
//   text-align: center;
//   border: 2px dashed grey;
//   padding: 20px 5px;
//   padding: 20px 0;
// }

.containerLinkImageBlock {
    width: 750px;
    margin: auto;
    }


  h1 {
    text-align: center;
    color: #1247a8;
    font-size: 250%;
    font-family: 'Share Tech Mono', monospace;
  }

  h3 {
    text-align: center;
    border: 2px dashed grey;
    padding: 20px 5px;
  }

  .picture img {
    width: 750px;
    padding: 20px 0px;
    text-align: center;
  }

  .header img {
    background-size:contain;
    width: 100%;
  }
