<h3>#2 Create the component "selected image", where the URL of the selected image will appear in the input.</h3>
    <div class="inputImgUrl">
      <input type='text' [value]="urlImgClick"/>
    </div>
    <div class="gridBlock">
      <img src="https://wallpaperaccess.com/full/307324.jpg" alt="img">
      <img src="https://wallpaperaccess.com/full/307329.jpg" alt="img">
      <img src="https://wallpaperaccess.com/full/307405.jpg" alt="img">
      <img src="https://wallpaperaccess.com/full/307411.jpg" alt="img">
      <img src="https://images4.alphacoders.com/751/thumb-1920-751911.jpg" alt="img">
      <img src="https://wallpaperaccess.com/full/307450.jpg" alt="img">
      <img src="https://images4.alphacoders.com/776/thumb-1920-776263.jpg" alt="img">
      <img src="https://wallpaperbro.com/img/559799.jpg" alt="img">
    </div>
  <br/>
